<button type="button" ng-if="error_message" ng-click="upload_modal()" class="btn btn-primary margin-right">Upload Worksheet</button>
<button type="button" ng-if="!error_message" ng-disabled="error_message" ng-click="render_worksheet()" class="btn btn-success margin-right">Download Results</button>
<button type="button" ng-if="!error_message" ng-click="commit_and_advance()" class="btn btn-primary margin-right">Commit and Grade Next</button>
<button type="button" ng-if="!error_message" ng-disabled="error_message" ng-click="commit_feedback()" class="btn btn-primary margin-right">Commit Feedback</button>
<button type="button" ng-click="reset_editor()" class="btn btn-warning">Reset</button>

<div ng-if="error_message === 'No worksheet uploaded'">No active marking session, please upload a worksheet</div>
<div ng-if="!error_message">
  <div>Currently grading: <span ng-bind="storage.get_current().name"></span></div>
  <div>Grading student number {{storage.current_index + 1}} out of {{storage.get_total()}}</div>
  <div>Graded {{storage.get_total_graded()}} out of {{storage.get_total_submitted()}}</div>
</div>
<select-box ng-if="storage.students.length" on-change="view_feedback" select-class="highlight" bind-property="name" content="storage.students" selected="storage.current_index" status-fn="student_status"></select-box>