<button type="button" ng-click="upload_modal()" class="btn btn-primary margin-right">Upload Worksheet</button><button type="button" ng-disabled="error_message" ng-click="render_worksheet()" class="btn btn-success margin-right">Download Results</button><div type="button" ng-disabled="error_message" ng-click="commit_feedback()" class="btn btn-success margin-right">Commit Feedback</div><div type="button" ng-click="reset_editor()" class="btn btn-warning">Reset</div>
<div ng-if="error_message === 'No worksheet uploaded'">No active marking session, please upload a worksheet</div>
<div ng-if="!error_message">
  <div>Currently grading: <span ng-bind="storage.get_current().name"></span></div>
  <div>Grading student number {{storage.current_index + 1}} out of {{storage.get_total()}}</div>
  <div>Graded {{storage.get_total_graded()}} out of {{storage.get_total_submitted()}}</div>
</div>
<!-- <div ng-repeat="skipped in skipped_students">
  <div ng-switch on="skipped.reason">{{skipped.student.name}} <span ng-switch-when="no submission">skipped due to no submission</span><span ng-switch-when="already graded"h>is already graded (skipped)</span><span ng-switch-default>skipped</span></div>
</div> -->
<select-box ng-if="storage.students.length" on-change="view_feedback" select-class="highlight" bind-property="name" content="storage.students" selected="storage.current_index" status-fn="student_status"></select-box>
<!-- <select class="form-control" style="height:55%" multiple ng-if="storage.students.length">
  <option ng-selected="$index === storage.current_index" ng-repeat="student in storage.students" ng-click="view_feedback($index)">{{student.name}}</option>
</select> -->
<!-- <div ng-repeat="student in student_list">
  <div>Name: <span ng-bind="student.name"></span>  Student Number: <span ng-bind="student.student_number"></span></div>
</div> -->