<div class="template-container">
  <div class="template-result-block">
    <div class="change-template-info">
      <h3>Update current template</h3>
      <div>Log in to store and pick form your templates</div>
      <button type="button" class="btn btn-success" ng-click="update_current_template()" ng->Confirm change</button>
    </div>
  </div>
  <div class=divider></div>
  <editor class="template-preview-block" callback="on_editor"></editor>
  <div class=divider></div>
  <preview class="template-preview-block well"></preview>
</div>