.nav-bar {
    width: 100%;
    height: 40px;
    background-color: #403F40;
    color: #ADADAD;
    transform-style: preserve-3d;
    font-family: "Roboto Condensed", "helvetica", "Sans";
}
.button-box {
    display: flex;
    justify-content: space-around;
    width: 250px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.vertical-center {
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
    color: #F0F0F0;
    left: 1%;
    height: 20px;
    width: 40%;
}
.block {
    position: absolute;
    width: 50%;
    height: calc(50% - 20px);
    border: 2px solid grey;
    padding: 10px;
    overflow: auto;
}
.editor {
    border-top-style: none;
    border-left-style: none;
    left: 0;
}
.preview {
    border-top-style: none;
    border-right-style: none;
    left: 50%;    /*background-color: red;*/
}
.status {
    border-left-style: none;
    border-bottom-style: none;
    bottom: 0;
}
.notes {
    border-right-style: none;
    border-bottom-style: none;
    bottom: 0;
    left: 50%;
}
.template-modal.ngdialog.ngdialog-theme-default {
    padding-bottom: 80px;
    padding-top: 80px;
}
.template-modal.ngdialog.ngdialog-theme-default .ngdialog-content {
    height: 350px;
    width: 800px;
}
.divider {
    height: 100%;
    width: 1px;
    margin: 0 1px;
    overflow: hidden;
    background-color: #E5E5E5;
    position: absolute;
}
.template-container {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-around;
}
.template-result-block {
    width: 22%;
}
.input-container {
    display: flex;
    align-content: space-between;
}
.template-result-block .input-container input {
    width: 75%;
}
.template-result-block .input-container .spinner {
    position: relative;
    transform: scale(0.16);
}
.template-input {
    width: 80%;
}
.template-preview-block {
    padding-top: 5px;
    width: 30%;
    height: 100%;
}
.margin-right {
    margin-right: 10px;
}
.file-dropper {
    border: 4px dashed grey;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-dropper.well {
    margin: 0;
}
.dragover {
    border: 4px dashed #429EC3;
}
.upload-spinner {
    transform: scale(0.2);
    margin: 30px auto 10px;
}
.upload-status {
    text-align: center;
}
.upload-progress {
    position: relative;
    top: 15px;
}
.highlight {
    background-color: skyblue;
}
.status-badge {
    float: right;
    border-radius: 4px;
    border: 2px solid grey;
    padding-left: 2px;
    padding-right: 2px;
}
.select-box-data {
    position: relative;
    top: 2px;  /*to match the 2px border of the badge*/
}
.select-box {
    height: 55%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    padding: 10px;
}
.select-box-entry {
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}
.clickable {
    cursor: pointer;
}
.button-box .clickable:hover {
    color: #E1E1E1;
}
.template-container > .template-result-block > button
{
    position: absolute;
    bottom: 0;
}
.template-result-container
{
    overflow: auto;
    width: 100%;
    height: 240px;
}
.add-template-buttons
{
    top: 190px;
    justify-content: space-around;
    display: flex;
}
.add-template-box
{
    position: relative;
    top: 38%;
}
.add-template-buttons > button
{
    width: 75px;
}
.add-template-box > input
{
    margin-bottom: 8px;
}
.add-template-box > .spinner
{
    position: absolute;
    transform: scale(0.4);
    left: 65px;
    bottom: 140px;
}
.change-template-info {
    top: 17%;
    position: relative;
    text-align: center;
}
.title-alert
{
    text-align: center;
    color: darkred;
}
.login-modal .center-block{
    width: 192px
}
.user-dropdown-menu {
    list-style: outside none none;
    position: fixed;
    font-size: 20px;
    top: 50px;
    right: 16px;
    border-radius: 3px;
    width: 288px;
    background-color: #1E1D1D;
    color: #ADADAD;
    padding: 10px;
    z-index: 200;
}
.dropdown-entry {
    border-bottom: 1px solid #4F535B;
}
.dropdown-entry input {
    color: white;
    font-style: italic;
    background-color: #1E1D1D;
    border: none;
    border-color: transparent;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    width: 93%;
}
.dropdown-entry .spinner {
    position: relative;
    top: -2px;
    transform: scale(0.13);
}
.back-drop {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.7;
}
.back-drop.ng-enter, .back-drop.ng-leave {
    -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.back-drop.ng-enter,
.back-drop.ng-leave.ng-leave-active {
    opacity:0;
}
.back-drop.ng-leave,
.back-drop.ng-enter.ng-enter-active {
    opacity: 0.7;
}
.user-dropdown-menu .clickable:hover {
    color: #D8D8D8;
}
.hidden-submit {
    position: absolute;
    right: -9999px;
}
.dropdown-entry > .input-container {
    height: 34px;
    margin-bottom: 0;
    margin-top: 0;
}
.dropdown-entry .input-container .fa {
    top: 9px;
    position: relative;
}
.spinner {
    margin: 0;
}
.grading-session-modal .template-container {
    height: 91%;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
.grading-session-modal .ngdialog-content {
    width: 684px;
    height: 482px;
}
.grading-session-modal .error-block {
    top: 120px;
    position: relative;
    font-size: 25px;
}
.grading-session-modal .picker-block {
    top: 6px;
    position: relative;
    width: 95%;
}
.grading-session-modal .error-block .fa {
    position: relative;
    left: 158px;
}
.grading-session-modal.ngdialog.ngdialog-theme-default {
    padding-top: 40px;
}
.grading-session-modal.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 600px
}
.grading-session-modal .session-list {
    overflow: auto;
    position: relative;
    height: 325px;
}
.progress-bar {
    text-overflow: ellipsis;
}
.legend-box {
    margin: 5px 0
}
.legend-label {
    display: inline-block;
}
.legend {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.legend.submitted {
    background-color: #F0AD4E;
}
.legend.graded {
    background-color: #5CB85C;
}